@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-blue-bg: hsl(217, 54%, 11%);
  --very-dark-blue-card: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Outfit', sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--very-dark-blue-bg);
}

.card {
  width: 21.8rem;
  padding: 1.33rem;
  background-color: var(--very-dark-blue-card);
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;

}

.card .card__image {
  border-radius: 0.5rem;
  width: 100%;
}

.card > h1 {
  color: var(--white);
  padding: 1.61rem 0;
  font-weight: 600;
  font-size: 1.22rem;
}

.card > p {
  font-size: 1rem;
  line-height: 1.73rem;
  color: var(--soft-blue);
  font-weight: 300;
}

.pricing {
  display: flex;
  justify-content: space-between;
  padding: 1.11rem 0;
  border-bottom: 1px solid var(--soft-blue);
}

.pricing__current-price {
  color: var(--cyan);
  font-weight: 600;
  font-size: 0.833rem;
}

.pricing__days-left {
  color: var(--soft-blue);
  font-size: 0.833rem;
  font-weight: normal;
  /* background-color: yellow; */
  width: 70px;
}

.pricing > div {
  display: flex;
  gap: .3rem;
}

.card__profile{
  display: flex;
  gap: .8rem;
  align-items: center;
  padding-top: 0.88rem;
}

.card__profile > p{
  color: var(--soft-blue);
}

.card__profile strong{
  color: var(--white);
  font-weight: normal;
}

.card__avatar {
  width: 1.83rem;
  border: 1px solid var(--white);
  border-radius: 50%;
}